{% extends '::base.html.twig' %}

{% block content %}
    <div class="section section-inverse">
        <div class="background" style="background-image:url('{{ asset('assets/img/covers/calendar.jpg') }}')"></div>
        <div class="container">
            <h1 class="text-center">{{ 'season.races.title'|trans({ '%year%': '<span class="text-primary">' ~ season.year ~ '</span>' })|raw }}</h1>
        </div>
    </div>

    <div class="container">
        {% if season.races.isEmpty %}
            no data
        {% else %}
            <div class="table-responsive">
                <table id="races" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'season.races.round'|trans }}</th>
                            <th scope="col">{{ 'season.races.name'|trans }}</th>
                            <th scope="col">{{ 'season.races.circuit'|trans }}</th>
                            <th scope="col">{{ 'season.races.country'|trans }}</th>
                            <th scope="col">{{ 'season.races.date'|trans }}</th>
                            <th scope="col">{{ 'season.races.time'|trans }}</th>
                            <th scope="col">{{ 'season.races.winner.driver'|trans }}</th>
                            <th scope="col">{{ 'season.races.winner.user'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race in season.races %}
                            <tr>
                                <td>{{ race.round }}</td>
                                <td lang="en"><a href="{{ path('race', { 'season': race.season.year, 'round': race.round }) }}">{{ race.name }}</a></td>
                                <td>{{ race.circuit.name }}</td>
                                <td>{{ race.circuit.country|country }}</td>
                                <td>{{ race.date|format_date }}</td>
                                <td data-load="localize" data-date="{{ race.date.format('Y-m-d H:i:s') }}" data-format="HH:mm">{{ race.date|format_time }}</td>
                                <td>{% if race.hasResults %}{{ race.results.first.team.driver.shortName }}{% endif %}</td>
                                <td>{% if race.hasResults and race.hasPredictions %}{{ race.predictions.first.user.username }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
