{% extends ':season:layout.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">

        {% if season.isFinished %}
            <h1>Awards</h1>
            <div class="row">
                <div class="col-md-4 bg-orange">
                    <h2>User</h2>
                    <p>
                        {% if season.races.last.userStandings.first %}
                            {{ season.races.last.userStandings.first.user.username }}
                        {% else %}
                            {{ 'na'|trans }}
                        {% endif %}
                    </p>
                    <span class="pull-right text-sun-flower fa fa-trophy fa-4x"></span>
                </div>
            </div>
        {% endif %}


        <div class="well col-md-4">
            <h2>Scoring system</h2>
            <ol class="list-unstyled">
                {% for points in season.scoringSystem.offsets %}
                    <li>{{ loop.index0 }}: {{ points }}</li>
                {% endfor %}
            </ol>
        </div>

    </div>
{% endblock %}
