{% extends '::base.html.twig' %}

{% block content %}
    <div class="section section-inverse section-sm">
        <div class="background" style="background-image:url('{{ asset('assets/img/covers/standings.jpg') }}')"></div>
        <div class="container">
            <h1 class="text-center">{{ 'season.standings.title'|trans({ '%year%': '<span class="text-primary">' ~ season.year ~ '</span>' })|raw }}</h1>
        </div>
    </div>

    <div class="container">
        {% if season.lastRaceWithResults %}
            <div class="row">
                <div class="col-md-4">
                    <h2>{{ 'season.standings.user.title'|trans }}</h2>
                    <ol class="list-standings">
                        {% for standings in season.lastRaceWithResults.userStandings %}
                            <li>
                                <span><a href="{{ path('user', { 'slug': standings.user.slug }) }}">{{ standings.user.username }}</a></span>
                                <span>{{ standings.points }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="col-md-4">
                    <h2>{{ 'season.standings.driver.title'|trans }}</h2>
                    <ol class="list-standings">
                        {% for standings in season.lastRaceWithResults.driverStandings %}
                            <li>
                                <span><a href="{{ path('driver', { 'slug': standings.driver.slug }) }}">{{ standings.driver.name }}</a></span>
                                <span>{{ standings.points }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="col-md-4">
                    <h2>{{ 'season.standings.constrcutor.title'|trans }}</h2>
                    <ol class="list-standings">
                        {% for standings in season.lastRaceWithResults.constructorStandings %}
                            <li>
                                <span><a href="{{ path('constructor', { 'slug': standings.constructor.slug }) }}">{{ standings.constructor.name }}</a></span>
                                <span>{{ standings.points }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">{{ 'na'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}
