{% extends 'base.html.twig' %}

{% set module = 'app/race/predict' %}

{% block content %}
    {% include ':race:_header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ prediction.user.username }} Prediction</h2>
                <table id="table-prediction" class="table table-bordered" data-id="{{ prediction.id }}">
                    <thead>
                        <tr>
                            <th>POS.</th>
                            <th>Driver</th>
                            <th>Constructor</th>
                            <th>Grid</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">{{ 'prediction.save'|trans }}</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <h2>Qualifications</h2>
                {% if race.hasQUalifying %}
                    <ol id="qualifying" class="list-standings">
                        {% for qualifying in race.qualifying %}
                            <li data-team="{{ qualifying.team.id }}" data-position="{{ qualifying.position }}">
                                <span>{{ qualifying.team.driver.shortName }}</span>
                                <span class="text-muted">{{ qualifying.team.constructor.name }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
