{% extends 'base.html.twig' %}

{% set module = 'app/race/predict' %}

{% block content %}
    <div class="container">
        <h1>{{ user.username }}</h1>

        {{ form_start(form) }}
        
        {{ form_widget(form) }}

        <ol id="list-teams"></ol>
        <button type="submit" class="btn btn-success">{{ 'submit' }}</button>
        {{ form_end(form) }}


    </div>
{% endblock %}
