{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="section section-inverse">
        <div class="container">
            <h1>{{ 'signin.title'|trans }}</h1>
        </div>
    </div>

    <div class="container">
        <form id="form-signin" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">

            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <label for="username">{{ 'signin.username_or_email'|trans }}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required autofocus/>
            </div>

            <div class="form-group">
                <label for="password">
                    {{ 'signin.password'|trans }}
                    <a href="{{ path('fos_user_resetting_request') }}">({{ 'signin.new_password'|trans }})</a>
                </label>
                <input type="password" id="password" class="form-control" name="_password" required/>
            </div>

            <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">{{ 'signin.submit'|trans }}</button>

            <p id="reset-pw">

            </p>
        </form>
    </div>
{% endblock fos_user_content %}
