{% extends 'base.html.twig' %}

{% set module = 'app/homepage' %}

{% block content %}
    {% if nextRace %}
        <section class="section section-inverse">
            <div class="background" style="background-image:url('{{ asset('assets/img/circuits/' ~ nextRace.circuit.slug ~ '.jpg') }}')"></div>
            <div class="container">
                <h1 class="h4 text-muted">{{ 'homepage.next-race.title'|trans }}</h1>
                <h2 lang="en" class="section-heading"><span class="text-primary">{{ nextRace.season.year }}</span> {{ nextRace.name }}</h2>
                <ul class="list-highlight">
                    <li id="next-nextRace-country">
                        <img class="flag" src="{{ asset('assets/img/flags/' ~ nextRace.circuit.country|lower ~ '.svg') }}" data-hover="tooltip" data-placement="bottom" title="{{ nextRace.circuit.country|country }}"/>
                    </li>
                    <li id="next-nextRace-round">
                        <span class="bg-concrete">{{ 'nextRace.round'|trans }}</span>
                        <span class="bg-silver">{{ nextRace.round }}</span>
                    </li>
                    <li id="next-nextRace-date">
                        <span class="bg-turquoise"><span class="fa fa-calendar" aria-label="{{ 'nextRace.date'|trans }}"></span></span>
                        <span class="bg-green-sea">{{ nextRace.date|format_date }} {{ nextRace.date|format_time }}</span>
                    </li>
                    {% if nextRace.hasResults %}
                        <li id="last-nextRace-winner">
                            <span class="bg-orange"><span class="fa fa-trophy" aria-label="{{ 'nextRace.winner'|trans }}" data-hover="tooltip" data-placement="bottom" title="{{ 'nextRace.winner'|trans }}"></span></span>
                            <span class="bg-sun-flower">{{ nextRace.results.first.team.driver.shortName }}</span>
                        </li>
                    {% endif %}
                    {% if nextRace.hasResults and nextRace.hasPredictions %}
                        <li id="last-nextRace-winner">
                            <span class="bg-orange"><span class="fa fa-trophy" aria-label="{{ 'nextRace.winner'|trans }}" data-hover="tooltip" data-placement="bottom" title="{{ 'nextRace.winner'|trans }}"></span></span>
                            <span class="bg-sun-flower">{{ nextRace.predictions.first.user.username }}</span>
                        </li>
                    {% endif %}
                </ul>
                <p><a class="btn btn-primary btn-lg" href="{{ path('race', { 'season': nextRace.season.year, 'round': nextRace.round }) }}" role="button">Learn more »</a></p>
            </div>
        </section>
    {% endif %}

    {% if lastRaceWithResults %}
        <section class="section section-sm">
            <div class="container">
                <h1 class="text-center">{{ 'homepage.standings.user'|trans({ '%year%': '<span class="text-primary">' ~ lastRaceWithResults.season.year ~ '</span>' })|raw }}</h1>
                {% if lastRaceWithResults.season.finished %}
                    <p class="text-center text-muted">{{ 'homepage.standings.finished'|trans }}</p>
                {% endif %}
                <ol class="list-standings">
                    {% for standings in lastRaceWithResults.userStandings|slice(0,10) %}
                        <li>
                            <span><a href="{{ path('user', { 'slug': standings.user.slug }) }}">{{ standings.user.username }}</a></span>
                            <span>{{ standings.wins }}</span>
                            <span>{{ standings.points }}</span>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>
    {% endif %}
{% endblock %}
