{% extends 'base.html.twig' %}

{% set module = 'app/homepage' %}

{% block content %}
    {% if nextRace %}
        <section id="next-race" class="section section-lg section-inverse">
            <div class="background" style="background-image:url('{{ asset('assets/img/covers/circuits/' ~ nextRace.circuit.slug ~ '.jpg') }}')"></div>
            <div class="container">
                <h1 class="h4 text-muted">{{ 'homepage.next-race.title'|trans }}</h1>
                <h2 lang="en" class="section-heading"><span class="text-primary">{{ nextRace.season.year }}</span> {{ nextRace.name }}</h2>
                <ul class="list-highlight">
                    <li id="next-race-country">
                        <img class="flag" src="{{ asset('assets/img/flags/' ~ nextRace.circuit.country|lower ~ '.svg') }}" data-hover="tooltip" data-placement="bottom" title="{{ nextRace.circuit.country|country }}"/>
                    </li>
                    <li id="next-race-round">
                        <span class="bg-concrete">{{ 'homepage.next-race.round'|trans }}</span>
                        <span class="bg-silver">{{ nextRace.round }}</span>
                    </li>
                    <li id="next-race-date">
                        <span class="bg-turquoise"><span class="fa fa-calendar" aria-label="{{ 'homepage.next-race.date'|trans }}"></span></span>
                        <span class="bg-green-sea">{{ nextRace.date|format_date }}</span>
                    </li>
                    <li id="next-race-time">
                        <span class="bg-turquoise"><span class="fa fa-clock-o" aria-label="{{ 'homepage.next-race.time'|trans }}"></span></span>
                        <span class="bg-green-sea" data-load="localize" data-date="{{ nextRace.date.format('Y-m-d H:i:s') }}" data-format="HH:mm">{{ nextRace.date|format_time }}</span>
                    </li>
                    <li id="next-race-predictions">
                        <span class="bg-amethyst"><span class="fa fa-pencil" aria-label="{{ 'homepage.next-race.predictions'|trans }}"></span></span>
                        <span class="bg-wisteria">{{ nextRace.predictions.count }}</span>
                    </li>
                    {% if nextRace.hasResults %}
                        <li id="next-race-winner">
                            <span class="bg-orange"><span class="fa fa-trophy" aria-label="{{ 'homepage.next-race.winner'|trans }}" data-hover="tooltip" data-placement="bottom" title="{{ 'homepage.next-race.winner'|trans }}"></span></span>
                            <span class="bg-sun-flower">{{ nextRace.results.first.team.driver.shortName }}</span>
                        </li>
                    {% endif %}
                    {% if nextRace.hasResults and nextRace.hasPredictions %}
                        <li id="next-race-winner">
                            <span class="bg-orange"><span class="fa fa-trophy" aria-label="{{ 'homepage.next-race.winner'|trans }}" data-hover="tooltip" data-placement="bottom" title="{{ 'homepage.next-race.winner'|trans }}"></span></span>
                            <span class="bg-sun-flower">{{ nextRace.predictions.first.user.username }}</span>
                        </li>
                    {% endif %}
                    <li>
                        <span><a class="btn btn-primary" href="{{ path('race', { 'season': nextRace.season.year, 'round': nextRace.round }) }}">{{ 'homepage.next-race.details'|trans }} »</a></span>
                    </li>
                    <li>
                        {% if app.user %}
                            <span><a class="btn btn-primary" href="{{ path('prediction', { 'season': nextRace.season.year, 'round': nextRace.round, 'slug': app.user.slug }) }}">{{ 'homepage.next-race.predict-now'|trans }} »</a></span>
                        {% else %}
                            <span class="text-danger">{{ 'homepage.next-race.login-to-predict'|trans }}</span>
                        {% endif %}
                    </li>
                </ul>
                <p id="next-race-remaining-time" data-date="{{ nextRace.date.timestamp * 1000 }}" data-format="%D:%H:%M:%S"></p>
            </div>
        </section>
    {% endif %}

    {% if lastRace %}
        <section id="last-race" class="section">
            <div class="container">
                <h1 class="text-concrete text-large">{{ 'homepage.last-race.title'|trans }}</h1>
                <h2 lang="en" class="section-heading"><span class="text-primary">{{ lastRace.season.year }}</span> {{ lastRace.name }}</h2>
                <ul class="list-highlight">
                    <li id="last-race-country">
                        <img class="flag" src="{{ asset('assets/img/flags/' ~ lastRace.circuit.country|lower ~ '.svg') }}" data-hover="tooltip" data-placement="bottom" title="{{ lastRace.circuit.country|country }}"/>
                    </li>
                    <li id="last-race-round">
                        <span class="bg-concrete">{{ 'homepage.last-race.round'|trans }}</span>
                        <span class="bg-silver">{{ lastRace.round }}</span>
                    </li>
                    <li id="last-race-date">
                        <span class="bg-amethyst"><span class="fa fa-calendar-o" aria-label="{{ 'homepage.last-race.date'|trans }}"></span></span>
                        <span class="bg-wisteria">{{ lastRace.date|format_date }}</span>
                    </li>
                    <li id="last-race-time">
                        <span class="bg-turquoise"><span class="fa fa-calendar" aria-label="{{ 'homepage.last-race.time'|trans }}"></span></span>
                        <span class="bg-green-sea" data-load="localize" data-date="{{ lastRace.date.format('Y-m-d H:i:s') }}" data-format="HH:mm">{{ lastRace.date|format_time }}</span>
                    </li>
                    {% if lastRace.hasResults %}
                        <li id="last-race-winner">
                            <span class="bg-sun-flower"><span class="fa fa-trophy"></span></span>
                            <span class="bg-orange">{{ lastRace.results.first.team.driver.shortName }}</span>
                        </li>
                        {% if lastRace.hasPredictions %}
                            <li id="last-race-winner">
                                <span class="bg-sun-flower"><span class="fa fa-trophy"></span></span>
                                <span class="bg-orange">{{ lastRace.predictions.first.user.username }}</span>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <span><a class="btn btn-primary" href="{{ path('race', { 'season': lastRace.season.year, 'round': lastRace.round }) }}">{{ 'homepage.last-race.details'|trans }} »</a></span>
                    </li>
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
